.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica sobre a tela */
    z-index: 1; /* Fica acima de outros conteúdos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    background-color: rgba(0,0,0,0.4); /* Fundo escurecido */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }